body{
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Cirular, "Helvetica Nueu", Helvetica, Arial, sans-serif;
}

.footer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
